.about {
    background-color: var(--color-blue);
    color: var(--color-white);
    font-family: 'Vollkorn', serif;
    padding: 96px 0 74px;
    margin-top: 55px;
    position: relative;
}

.about__title {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 800;
    line-height: 97%;
    margin: 0;
    position: relative;
}

.about__title::after {
    content: "О компании";
    color: rgba(255, 255, 255, 0.05);
    font-size: 64px;
    font-weight: 700;
    line-height: 55%;
    position: absolute;
    left: 180px;
}

.about__description::before {
    content: "";
    display: block;
    width: 2px;
    height: 200px;
    background-color: var(--color-white);
    position: absolute;
    left: -20px;
}

.about__description {
    margin-left: 135px;
    padding-top: 90px;
    width: 585px;
    font-size: 20px;
    font-style: italic;
    line-height: 40px;
    opacity: 0.8;
    letter-spacing: 0.3px;
    position: relative;
}

.about__image {
    width: 50%;
    height: 430px;
    position: absolute;
    right: 0;
    top: 80px;
}

.about__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.about__characts {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 145px;
}

.about_charact {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about__charact-number {
    font-size: 64px;
    font-style: italic;
    line-height: 55%;
}

.about__charact-name {
    font-size: 24px;
    font-style: italic;
    line-height: 125%;
}

.about__charact-name-year {
    width: 88px;
}
.about__charact-name-client {
    width: 183px;
}
.about__charact-name-people {
    width: 90px;
}
.about__charact-name-rescompl {
    width: 172px;
}


@media (max-width: 1440px) {
    .about__title {
        font-size: 32px;
    }
    .about__title::after {
        top: 2px;
        font-size: 48px;
    }
    .about__image {
        width: 630px;
        top: 70px;
    }
    .about__description {
        margin-left: 20px;
    }
}

@media (max-width: 768px) {
    .about {
        padding: 40px 0;
    }
    .about__title {
        text-align: center;
    }
    .about__title::after {
        left: 340px;
    }
    .about__description::before {
        height: 160px;
    }
    .about__description {
        padding: 40px 0;
        width: 705px;
    }
    .about__image {
        position: static;
        width: 720px;
        height: 285px;
    }
    .about__characts  {
        flex-wrap: wrap;
        row-gap: 36px;
        column-gap: 90px;
        padding-top: 40px;
    }
    .about__charact-number {
        font-size: 48px;
    }
    .about__charact-name {
        font-size: 20px;
    }
    .about_charact:nth-child(even) {
        width: 300px;
    }

}
