.cards {
    position: relative;
}

.cards::after {
    content: "";
    display: block;
    width: 410px;
    height: 2px;
    background-color: var(--color-blue);
    position: absolute;
    right: 0;
    top: 560px;
}

.cards::before {
    content: "";
    display: block;
    width: 130px;
    height: 40px;
    background-color: var(--color-golden);
    position: absolute;
    top: 545px;
}

.cards__container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.cards__item-wrapper {
    background-color: var(--color-blue);
    width: 520px;
    height: 546px;
    color: var(--color-white);
    margin-bottom: 10px;
}

.cards__item-title {
    font-family: 'PT Serif', serif;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.cards__item-description {
    display: flex;
    gap: 100px;
    justify-content: center;
    font-size: 16px;
    font-family: 'Vollkorn', serif;
    padding-top: 20px;
}

.cards__item-names {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cards__item-values {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 16px;
}

@media (max-width: 1720px) {
    .cards__item-wrapper {
        width: 370px;
        height: 460px;
    }
    .cards__item-title {
        padding-top: 22px;
    }
    .cards__item-description {
        gap: 70px;
        font-size: 14px;
        padding-top: 36px;
    }
    .cards::after {
        top: 480px;
    }
    
}

@media (max-width: 1280px) {
    .cards__item-wrapper {
        width: 350px;
        height: 420px;
        margin-bottom: 0;
    }
    .cards__item-title {
        padding-top: 14px;
    }
    .cards__item-description {
        gap: 40px;
        padding-top: 32px;
    }
    .cards::before {
        display: none;
    }
    .cards::after {
        display: none;
    }
    
}

@media (max-width: 660px) {
    .cards__item-wrapper {
        width: 300px;
        height: 380px;
    }
    .cards__item-title {
        font-size: 16px;
    }
    .cards__item-description {
        padding-top: 24px;
        font-size: 12px;
        gap: 30px;
    }
  
}