/* обязательные стили */
.hvr {
  width: 100%;
  height: 100%;
}

.hvr__images {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .hvr__sectors {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
  }
  
  .hvr__sector {
    flex-grow: 1;
  }
  
  /* не обязательные стили */
  
  .slider {
    width: 495px;
    height: 322px;
  }
  
  .images {
    overflow: hidden;
    height: 322px;
  }
  
  .image {
    display: block;
    width: 100%;
  }
  
  .hvr__dots {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hvr__dot {
    width: 8px;
    height: 8px;
    margin: -40px 7px 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.50);
    z-index: 3;
  }
  
  .hvr__dot--active {
    background: rgba(255, 255, 255, 0.80);
  }

  @media (max-width: 1720px) {
    .slider {
      width: 354px;
      height: 234px;
    }
    .images {
      height: 234px;
    }
    
  }

  @media (max-width: 1280px) {
    .slider {
      width: 330px;
      height: 220px;
    }
    .images {
      height: 220px;
    }
    
  }


  @media (max-width: 660px) {
    .slider {
      width: 285px;
      height: 194px;
    }
    .images {
      height: 194px;
    }
    
  }